*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 600px;
    background-color: #888;
    margin: 50px auto;
    padding: 50px;
}
.container{
    width: 100%;
    padding: 50px;
    margin: 10px auto;
    border: 2px solid #111;
    text-align: center;

}
h2{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}
input, select {
    padding: 8px;
    margin: 3px;
    width: 200px;
    border: 1px solid #555;
    outline: none;
}
.initialInput{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}